@charset "UTF-8";
@font-face {
  font-family: "Prototypster";
  src: url("../fonts/prototypster-medium-webfont.eot") format("eot"), url("../fonts/prototypster-medium-webfont.svg") format("svg"), url("../fonts/prototypster-medium-webfont.ttf") format("truetype"), url("../fonts/prototypster-medium-webfont.woff") format("woff"), url("../fonts/prototypster-Medium.otf") format("otf"), url("../fonts/prototypsterMedium.eot") format("eot"), url("../fonts/PrototypsterMedium.svg") format("svg"), url("../fonts/PrototypsterMedium.ttf") format("truetype"), url("../fonts/PrototypsterMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Tahoma";
  font-weight: 400;
  font-style: normal; }

html, body {
  margin: 0 auto;
  background: url("../img/background.png");
  color: #2a2a2a; }

.header {
  padding: 50px 0 30px 0; }
  .header__logo {
    text-align: center; }
  .header__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px; }
    .header__button span {
      color: #2a2a2a;
      font-size: 14px;
      font-family: "Tahoma"; }
    .header__button button {
      color: #ff5e42;
      font-family: "Tahoma";
      font-size: 14px;
      text-decoration: none;
      border: 1px solid transparent;
      padding: 0;
      background-color: transparent;
      margin: 0 5px; }
    .header__button button:hover {
      border-bottom: 1px dashed #ff5e42; }

.active:after {
  content: "\f0dc";
  font-family: "FontAwesome"; }

.inactive:after {
  content: "\f0dc";
  font-family: "FontAwesome"; }

.active:hover:after {
  content: "\f0de";
  font-family: "FontAwesome"; }

.inactive:hover:after {
  content: "\f0dd";
  font-family: "FontAwesome"; }

.content {
  max-width: 768px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .content__order {
    width: -webkit-calc(220px - 14px);
    width: calc(220px - 14px);
    min-height: 430px;
    background-color: #ffffff;
    margin: 20px 11px;
    padding: 7px 7px 20px 7px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: inset 0 1px 1px -1px #000000;
            box-shadow: inset 0 1px 1px -1px #000000; }
    .content__order a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Prototypster";
      font-size: 24px;
      margin: 0 5px;
      color: #b8b8b8;
      text-align: left; }
      @media screen and (max-width: 500px) {
        .content__order a {
          text-align: right;
          margin-top: 20px; } }
    .content__order i {
      position: absolute;
      margin-left: 165px;
      margin-top: -7px;
      font-size: 20px;
      padding: 20px 8px;
      color: #ffffff;
      background-color: #ff5e42;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0); }
      @media screen and (max-width: 500px) {
        .content__order i {
          margin-left: 10px; } }
    @media screen and (max-width: 500px) {
      .content__order {
        width: 100%;
        min-height: 200px; } }
    .content__order-about img {
      width: 100%;
      max-height: 180px;
      -o-object-fit: cover;
         object-fit: cover; }
      @media screen and (max-width: 500px) {
        .content__order-about img {
          width: 50%; } }
    @media screen and (max-width: 500px) {
      .content__order-about {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    .content__order-text h2 {
      font-family: "Prototypster";
      margin: 10px 5px;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase; }
    .content__order-text h3 {
      font-family: "Tahoma";
      font-weight: 400;
      font-size: 13px;
      margin: auto 5px;
      margin-bottom: 20px; }
    .content__order-text p {
      font-family: "Tahoma";
      font-weight: 400;
      font-size: 13px;
      margin: 5px; }
    @media screen and (max-width: 500px) {
      .content__order-text {
        width: 50%; } }
  .content__order:hover {
    border: 4px solid #ff5e42;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 3px 3px 16px 3px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .content__order:hover span {
    display: none; }
  .content__order:hover a:before {
    content: "+ Добавить в магазин";
    color: #ff5e42; }
  .content__order:hover a:hover:before {
    text-decoration: underline; }

.button {
  text-align: center;
  margin: 30px 0 50px 0; }
  .button a {
    font-family: "Prototypster";
    text-transform: uppercase;
    text-decoration: none;
    color: #ff5e42;
    font-size: 36px; }
  .button a:hover {
    text-decoration: underline; }

.footer {
  background: url("../img/footerBackground.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  padding: 50px 0; }
  .footer__container {
    max-width: 1024px;
    margin: 0 auto; }
  .footer__content {
    width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer__content a {
      font-family: "Prototypster";
      text-transform: uppercase;
      text-decoration: none;
      color: #ff5e42;
      font-size: 36px;
      text-align: right; }
    .footer__content a:hover {
      text-decoration: underline; }
    @media screen and (max-width: 500px) {
      .footer__content {
        width: auto;
        margin-right: 20px; } }
    .footer__content-email {
      text-align: right; }
      .footer__content-email label {
        font-family: "Prototypster";
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
        margin-right: 20px; }
      .footer__content-email input[type="email"] {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        padding: 10px 7px;
        width: -webkit-calc(210px - 14px);
        width: calc(210px - 14px);
        font-family: "Prototypster";
        color: #2a2a2a;
        text-transform: uppercase; }
    .footer__content-checkbox {
      margin: 20px 0;
      text-align: right; }
      .footer__content-checkbox label {
        font-family: "Prototypster";
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        font-size: 18px;
        padding-right: 10px;
        padding-left: 45px;
        height: 30px;
        line-height: 30px; }
      .footer__content-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        height: 30px;
        width: 30px;
        z-index: 2; }
        .footer__content-checkbox input[type="checkbox"] + label {
          background: url("../img/checkbox.png") no-repeat;
          display: inline-block;
          z-index: 1; }
        .footer__content-checkbox input[type="checkbox"]:checked + label {
          background: url("../img/checkboxActive.png") no-repeat;
          display: inline-block; }
