.content
    max-width: 1024px
    margin: 0 auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

    &__order
        width: calc(220px - 14px)
        min-height: 430px
        background-color: $whiteColor
        margin: 20px 11px
        padding: 7px 7px 20px 7px
        border-radius: 5px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: space-between
        box-shadow: inset 0 1px 1px -1px $blackColor

        a
            text-decoration: none
            text-transform: uppercase
            font-family: "Prototypster"
            font-size: 24px
            margin: 0 5px
            color: $colorInactive
            text-align: left

        i
            position: absolute
            margin-left: 165px
            margin-top: -7px
            font-size: 20px
            padding: 20px 8px
            color: $whiteColor
            background-color: $colorActive
            -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0)
            clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0)


        &-about

            img
                width: 100%
                max-height: 180px
                object-fit: cover

            h2
                font-family: "Prototypster"
                margin: 10px 5px
                font-weight: normal
                font-style: normal
                text-transform: uppercase



            h3
                font-family: "Tahoma"
                font-weight: 400
                font-size: 13px
                margin: auto 5px
                margin-bottom: 20px

            p
                font-family: "Tahoma"
                font-weight: 400
                font-size: 13px
                margin: 5px

    &__order:hover
        border: 4px solid $colorActive
        box-sizing: content-box
        padding: 3px 3px 16px 3px
        box-shadow: none

    &__order:hover span
        display: none

    &__order:hover a:before
        content: "+ Добавить в магазин"
        color: $colorActive

    &__order:hover a:hover:before
        text-decoration: underline